body {
    background: url('background.svg') no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}

body.light-mode {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust as needed */
    color: black;
}

body.dark-mode {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust as needed */
    color: white;
}

/* rest of your CSS stays the same */


nav {
    background-color: rgba(240, 240, 240, 0.3); /* Adding some opacity */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo {
    height: 40px;
    transform: scale(2);
}

#theme-toggle {
    cursor: pointer;
}
#theme-toggle svg {
    width: 24px; /* Set width */
    height: 24px; /* Set height */
    fill: black; /* Set color */
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* changed from max-width to width */
    margin: 20px auto;
    overflow: auto; /* allows content to scroll if it overflows the container */
}


#video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8 {
    margin: 20px;
    border: solid black 2px;
    padding-top: 2px;
}

.hidden {
    display: none;
}
  